body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(red,blue);
}
#Security{
    display: block;
    padding: 10px;
    margin: auto auto;

}
#button{
    position: absolute;
    padding: 10px;
    top: 45%;
    background-color: blueviolet;
}